modules = ["web", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["cacert", "cargo", "freetype", "lcms2", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "postgresql", "rustc", "tcl", "tk", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]

[userenv]

[userenv.shared]
ADMIN_KEY = "29Sept1982!"
TELEGRAM_BOT_TOKEN = "8767069054:AAGNAhw-ZBXZf8ppytp0MKK25B9VsdOKG14"
TELETHON_API_ID = "32881984"
TELETHON_API_HASH = "d2588f09dfbc5103ef77ef21c07dbf8b"
VIETNAMPARSING_BOT_TOKEN = "8767069054:AAGNAhw-ZBXZf8ppytp0MKK25B9VsdOKG14"
WEBAPP_URL = "https://e0a9c4da-32b9-42a8-bc3d-ac75c96fba29-00-eom53k0uk2ez.spock.replit.dev"
TELETHON_SESSION = "1BVtsOKwBu23f47gzoFnh2olrwJE1N2o1aTk8bHTzEloU9SjdTrrizEmOOdHIQOIFNpp8iaNPeqh9UjI4940gYIriIR-sailMVyFNtzgJOTpiik0IJeFnk57dujaxnL5OL3Opn3LMEou9oQcVL0uaPyufjtGE4vs4yBvtupMWJh1XMp_wR0zVttXdtMjFC3WQP7rh3sNx2ajlvAkg9FMh9NfZzoB5EDezCxRzkS5YPUfDHSh4PZcL4l1KIaBSTfmr9--eQ5Ufi-zuHTG1B7SmfXHFYLym1DrOYz6swo9SUWOV-m8oqEpm5b1sZFhMINsJVVBANLeOquSkJrUzIWnB3pbKPlbhGrU="
HF_TOKEN = "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"
